html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

/* * {
    border: 1px solid red;
} */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: #e5e5cf;
}

.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.header {
    padding: 10px;
    background: #151524;
    color: #e5e5cf;
    text-align: center;
}

.container {
    width: 300px;
    margin: 0 auto;
}

.score-panel {
    text-align: center;
    padding: 24px;
    font-size: 18px;
    font-weight: bold;
    font-family: monospace;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btn {
    padding: 24px;
    border-radius: 50%;
    border: 5px solid white;
}

.start-button-container {
    display: flex;
    justify-content: center;
}

.start {
    margin: 10px;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: bold;
    background: #008000;
    color: #e5e5cf;
}

.red {
    background: #ff0000;
}
.green {
    background: #008000;
}

.blue {
    background: #0000ff;
}

.yellow {
    background: yellow;
}
